/* .hover{
    background-color: blueviolet;
}
.hover:hover{
    background-color: blueviolet;
} */

.sidebarstyle {
    background: #59dff1;
    /* background: linear-gradient(135deg, #B5F6FF, #0D87D3); */
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}

/* .submenuSidebarstyle {
    background: #B5F6FF;
    background: linear-gradient(135deg, #B5F6FF, #0D87D3);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
} */
.sidebarmain{
    font-size: 1.1rem;
}

.sidebarcolor{
    font-size: 1.05rem;
}

/* .menuside:hover {
    background-color: red;
} */


.ps-menu-button:hover{
    /* background:white !important; */
    background: none !important;
    /* color: black; */
    /* background: #8ec9ee !important; */
}

.ps-submenu-root{
    background: #59dff1;
}

.ps-submenu-root :hover{
    /* background:#59dff1 !important; */
    color:  rgb(255, 255, 255) !important;
    background: transparent !important;

}
.ps-menu-button{
    background: #59dff1;
}
.ps-menu-button:hover{
    background: linear-gradient(135deg, #B5F6FF, #0D87D3) !important;
}



.sidebarTitle:hover {
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(135deg, #B5F6FF, #0D87D3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}