.billCont{
    width: 100%;
    height: 45vh;
    border-radius: 15px;
    transition: 0.5s;
    background-color: #edf1f4;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
    15px 15px 15px rgba(0,0,0,0.1);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.billCont::-webkit-scrollbar{
    display: none;
}


.tableBillCont{
    width: 100%;
    min-width: 1000px;
    table-layout: fixed;
    cursor: pointer;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
  -15px -15px 20px #fffb;
}

.tableBillCont thead th{
    position: sticky;
    top: 0;
    background-color: #3bc5f3;
    color: #ffffff;
    font-size: 0.95rem;
}

.tableBillCont thead th,td{
    border-bottom: 1px solid #dddddd;
    padding: 8px 15px;
    word-break: break-all;
    text-align: center;
}

.totalAmt{
    font-size: 1.3rem;
    font-weight: 700;
}

.billgenSelect{
    position: absolute;
    left: 90px;
    width: 30ch;
    z-index: 999;
    border: 1px solid rgb(215, 214, 214);
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgb(184, 184, 184);
    cursor: pointer;
}
.billgenSelect ul li{
    padding: 5px;
}
.billgenSelect ul li:hover{
    width: 100%;
    background: rgb(212, 211, 211);
}

.billgenscroll{
    height: 15vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .billgenscroll::-webkit-scrollbar{
    display: none;
} */

@media (max-width:480px) {
    .billgenSelect{
        left: 55px;
    }
}

@media (max-width:980px) {
    .billgenSelect{
        left: 55px;
    }
}
