.boxshadow {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: 0.5s;
}
.boxshadow:hover{
    transform: scale(1.1);
}

.boxshadow:hover .bottomButtonHover .iconHover3 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.boxshadow:hover .smallcard{
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.boxshadow:hover .bottomButtonHover button{
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.text-box {
    position: relative;
    left: 15px;
    gap: 0.5rem;
}

.smallcard {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    left: 1rem;
    top: 1rem;
    background-color: blue;
    box-shadow: 0px 2px 5px rgb(184, 184, 184);
}

.titlecard{
    width: 200px;
    height: 80px;
    text-align: start;
    position: relative;
    top: 1rem;
}

.iconHover3 {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

.bottomButtonHover button {
    border: none;
    border-radius: 5px;
    padding: .5rem;
    color: rgb(0, 0, 0);
    background-color: blue;
    color: white;
    font-weight: 600;
}

.bottomButtonHover:hover .iconHover3 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.cardtext {
    font-size: 23px;
    font-weight: 600;
}