/* body {
  margin: 0;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #ffffff;
  font-size: 24px;
} */
/* .app {
  background: #a8d5e5;
  position: fixed;
  top:0
}
h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}
.menu1 {
  margin-bottom: 10px;
  margin-top: 10px;
}
h2 {
  color: #165a72;
} */

/*body{
  background: rgb(80, 78, 78);
  flex: 1;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;

  justify-content: center;
  min-height: 100vh;
  background-image: url('https://images-platform.99static.com//praeU0sMTQ-Mhzv6VCdHy-fjphc=/80x101:871x892/fit-in/500x500/99designs-contests-attachments/116/116924/attachment_116924778');
}*/